@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --txtColor: #C58F00;
}

body {
    background-color: #0a0a08;
    overflow: hidden;
    position: fixed;
}


li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 250;
    font-size:12px;
    color: var(--txtColor);
    text-decoration: none;
    
}

.navbar-toggler{
    margin-top: 5px;
}

.custom-toggler.navbar-toggler {
    border-color: var(tx);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(197, 143, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}




.text-center.text-warning {
    background-color: #141412;  
    height: 200px;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
}

.text-center.p-3 {
    margin-top: 100px;
}

.container.p-4.pb-0 {
   
    height: 10px;
    margin-top: 20px;
}

hr {
    margin-top: 100px;
    margin: 0;
    border: none;
    color: #C58F00;    
}

.btn.btn-outline-light.btn-floating.m-1 {
    padding: 5px;
    border: solid;
    border-color: #0a0a08;
    border-radius: 10px;
   
}

.btn.btn-outline-light.btn-floating.m-1:hover {
    background-color: #333;
    
}

.fa {
    color: #C58F00;
}

.offcanvas {
    background-color: #0a0a08;
}

button {
    padding: 10px 15px;

    padding-top: 20px;
    padding-bottom: 20px;

    color: #222;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button {
    background-color: var(--txtColor);
    margin-bottom: 10px;
    height: 10px;
    height: 30px;
    display: none;
}

button:hover {
    background-color: rgb(255, 255, 204);
}

/* Background image */


.img-band {
    width: 100%;
    height: 500px;
    padding: 93px 10px;  
    position: relative;
    top: 50px;
    z-index:0;

}

/* TITLE */

.text-wrapper{
    position: absolute;
    top: 70px; 
    background-color: transparent; 
    z-index: 1;
}

.text-wrapper h1{
    color: var(--txtColor);
    padding-left: 36px;
    font-size: 50px;
    background-color: transparent;
    height: 100px;
}

/* Band info */

.band-info{
    position: relative;
    padding-left:5.5%;
}

.band-info p{
    font-size: 125%;
    color: var(--txtColor);
}

/* Buton | Listen Music */

.music-button {
    position: relative;
    left: 4%;
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;

}

.music-button button{
    border-style: solid;
    border-width: 1px;
    border-color: var(--txtColor);
    background-color: #0a0a08;
    
}

/* Responsivness */

@media only screen and (max-width:768px){
    .nav_links {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        margin-left: 50px;
        margin-right: 50px;
        background-color: #c58f00;
        display: block;
        cursor: pointer;
        transition: all 0.3s ease 1s;
    }

    .hamburger:hover {
        background-color: var(--txtColor);
    }

}

.music-button button{
    border-style: solid;
    border-width: 1px;
    border-color: var(--txtColor);
    color: var(--txtColor);
}

/* Responsivness */

@media only screen and (min-width:768px){


}